<div id="gtco-features">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                <h2 class="cursive-font">Nossos Serviços</h2>
                <p>Atendimento de qualidade, aliado ao sabor da comida e o conforto do ambiente!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-face-smile"></i>
                    </span>
                    <h3>Pessoas Felizes</h3>
                    <p>Acreditamos que seu conforto é fundamental para criar uma experiência agradável e satisfatória.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-thought"></i>
                    </span>
                    <h3>Culinária Criativa</h3>
                    <p>"É uma história de amor a cozinha...</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-truck"></i>
                    </span>
                    <h3>Delivery</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>